on late-fs
# Wait for keymint AIDLs (TEE and StrongBox)
exec_start wait_for_dual_keymint

service wait_for_dual_keymint /vendor/bin/hw/wait_for_dual_keymint
    user root
    group root system
    priority -20
    ioprio rt 0

