on late-fs
# Wait for keymaster HALs (TEE and StrongBox)
exec_start wait_for_dual_keymaster

service wait_for_dual_keymaster /vendor/bin/hw/wait_for_dual_keymaster
    user root
    group root system
    priority -20
    ioprio rt 0

